* {   
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



.logo {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}



#menu {
    list-style-type: none;
    padding: px;
    }

#menu a:link,a:visited {
    margin:0 auto;
    display:block;
    width: 120px;
    font-weight:bold;
    font-family: sans-serif;
    font-size: .85em;
    color:#94B0BE;
    text-align:center;
    padding:px;
    text-decoration:none;
    text-transform:uppercase;
    }
    
#menu a:hover, a:active {
    color: #fff;
    }

#nav, ul {
    display:inline-block;
    }
    
#menu {
    background-color: #333;
    text-align:center;
    }

#content {
    display: block;
    margin: ;
    width: auto;
    padding-top: 20px;
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
    color:#333333;
}

p {
    font-family: sans-serif;
    font-size: 1em;
    color:#333333;
    text-align: left; 
    display: block;
}

br {
    padding: 10px;  
}




p, ul, li {
    font-family: sans-serif;
    font-size: 1em;
    color:#333333;
    text-align: left;
}

